/* snack1 */
.text-red{
    color: red;
    flex-basis: 50%;
    background-color: orange;
    text-align: center;
}
.text-green{
    color: green;
    flex-basis: 50%;
    background-color: greenyellow;
    text-align: center;
}
.get-btn{
    padding: 1.5rem 3rem;
}

/* general classes */
.d-flex{
    display: flex;
}
.flex-wrap{
    flex-wrap: wrap;
}
.m-auto{
    margin: auto;
}
.w-100{
    width: 100%;
}