<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>

    <!-- my-style -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <div id="app">
        <!-- snack1 -->
        <!-- <div class="wrapper d-flex flex-wrap">
            <div class="w-100 d-flex">
                <button class="get-btn m-auto" @click="getNumber">get the number</button>
            </div>
            <div class="text-red">
                <h4 v-for="redN in redNums">{{redN}}</h4>
            </div>
            <div class="text-green">
                <h4 v-for="greenN in greenNums">{{greenN}}</h4>
            </div>
        </div> -->

        <!-- snack 2 -->
        <!-- <input type="text" v-model="inputName" name="inputName" id="inputName" :disabled="namesList.length !== nNames">
        <h3 v-if="namesList.includes(inputName)">Welcome home, {{inputName}}</h3>
        <h3 v-else-if="inputName === ''">type a name</h3>
        <h3 v-else>You are not in the list {{inputName}}</h3> -->

        <!-- snack A -->
        <div class="wrapper d-flex flex-wrap">
            <div class="chat d-flex flex-column">
                <h4 v-for="chatMessage in chatMessages"
                class="message"
                :class="(chatMessage.status === 'sent') ? 'message-sent' : 'message-received'">{{chatMessage.message}}</h4>
            </div>
            <div class="w-100 d-flex">
                <input class="w-100" type="text" v-model="messageSent" @keyUp.Enter="addMessage(messageSent, 'sent')">
            </div>
        </div>
    
    <!-- vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios 1.2.2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <!-- my script -->
    <!-- <script src="./js/snack1.js"></script> -->
    <!-- <script src="./js/snack2.js"></script> -->
    <script src="./js/snackA.js"></script>
    <!-- <script src="./js/snackB.js"></script> -->
</body>
</html>