<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snacks</title>

    <!-- my-style -->
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>

    <!-- snack1 -->
    <div id="app">
        <input type="text" v-model="inputName" name="inputName" id="inputName" :disabled="namesList.length !== nNames">
        <h3 v-if="namesList.includes(inputName)">Welcome home, {{inputName}}</h3>
        <h3 v-else-if="inputName === ''">type a name</h3>
        <h3 v-else>You are not in the list {{inputName}}</h3>
    </div>
    
    <!-- vue 3 -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- axios 1.2.2 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <!-- my script -->
    <script src="./js/snack2.js"></script>
</body>
</html>